<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyShield AI</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">
    


<div class="container mt-5">
    <div class="card p-4 shadow">

        <h2 class="text-center mb-4">Student Registration</h2>

        <form action="/register" method="POST">

            <input type="text" class="form-control mb-3" name="name" placeholder="Enter Name" required>

            <input type="email" class="form-control mb-3" name="email" placeholder="Enter Email" required>

            <input type="password" class="form-control mb-3" name="password" placeholder="Enter Password" required>

            <button type="submit" class="btn btn-primary w-100">Register</button>

        </form>

    </div>
</div>
<footer class="bg-dark text-white text-center p-3 mt-5">
    © 2026 StudyShield AI | Developed by Monish K
</footer>
</body>
</html>